@{
    ViewData["Title"] = "Home Page";// +ViewBag.User.Name;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @ViewBag.Data
    @ViewBag.User


    <a href="/login/logout">Çıkış yap</a>
</div>
